<fieldset>

<div class="control-group">
   <%= f.label :line_number, t("activerecord.attributes.line.line_number", :default => "Line number"), :class => 'control-label' %>
  <div class="controls">
    <%= f.number_field :line_number, :class => 'number_field', :min => 100, :step => 100 %>
  </div>
</div>

<div class="control-group">
   <%= f.label :name, t("activerecord.attributes.line.name", :default => "Name"), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<!--
<div class="control-group">
   <%= f.label :subtotal, t("activerecord.attributes.line.subtotal", :default => "Subtotal"), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :subtotal, :class => 'text_field' %>
  </div>
</div>
-->

<div class="control-group">
   <%= f.label :category, t("activerecord.attributes.line.category", :default => "category"), :class => 'control-label' %>
  <div class="controls">
    <%= f.select :category, Line::CATEGORIES, :class => 'select' %>
  </div>
</div>

</fieldset>

<div class="form-actions">
  <button class="btn btn-primary" type="submit">Save</button> or
	<%= link_to "Cancel", @line.id ? budget_line_path(@budget, @line) : budget_path(@budget) + '/' + @line.category, :class => 'danger' %>
</div>
