<section class="details span12">

    <table class="table table-highlight">

        <thead>

            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Budget</th>
                <th>Actual</th>
                <th></th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td><%= @line.line_number %></td>
                <td><%= @line.name %></td>
                <td><%= @line.category.capitalize %></td>
                <td><%= number_to_currency(@line.budget_total, :unit => "") %></td>
                <td><%= number_to_currency(@line.actual, :unit => "") %></td>
                <td class="controls">
                    <%= link_to "Edit", edit_budget_line_path(@budget, @line) %>
                    <%= link_to "Delete", budget_line_path(@budget, @line), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'danger' %>
                </td>
            </tr>

        </tbody>

    </table>

</section>

<section class="sublines span6">

    <%= render :partial => 'sublines/list', :locals => { :sublines => @line.sublines } %>

</section>

<section class="transactions span6">

    <ul class="well no-list tab-content">
        <li class="tab-pane active"><h3>Select a subline to view transactions</h3></li>
        <% @line.sublines.each do |subline| %>
        <li id="subline_<%= subline.id %>" class="tab-pane">
            <%= render :partial => 'transactions/list', :locals => { 
                    :subline => subline, :transactions => subline.transactions } %>
        </li>
        <% end %>
    </ul>


</section>