<section class="details span12">

    <table class="table table-highlight">

        <thead>

            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Budget</th>
                <th>Actual</th>
                <th></th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td><%= @line.line_number %></td>
                <td><%= @line.name %></td>
                <td><%= @line.category.capitalize %></td>
                <td><%= number_to_currency(@line.subtotal, :unit => "") %></td>
                <td><%= number_to_currency(@line.actual, :unit => "") %></td>
                <td class="controls">
                    <%= link_to "Edit", edit_budget_line_path(@budget, @line) %>
                    <%= link_to "Delete", budget_line_path(@budget, @line), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'danger' %>
                </td>
            </tr>

        </tbody>

    </table>

</section>