<%= form_for :session, html: { class: 'form-horizontal' }, :url => sessions_path do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label :email, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :password_digest, class: 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_digest %>
      </div>
    </div>
  </fieldset>
  <div class="form-actions">
    <%= f.submit "Go!", class: 'btn btn-primary' %>
  </div>
<% end %>
