
<div class="clearfix">
   <%= f.label :title, t("activerecord.attributes.note.title", :default => "Title"), :class => :label %>
  <div class="input">
    <%= f.text_field :title, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :contents, t("activerecord.attributes.note.contents", :default => "Contents"), :class => :label %>
  <div class="input">
    <%= f.text_field :contents, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :budget_id, t("activerecord.attributes.note.budget_id", :default => "Budget"), :class => :label %>
  <div class="input">
    <%= f.number_field :budget_id, :class => 'number_field' %>
  </div>
</div>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", notes_path %>
</div>
