<h1>Notes</h1>

<!-- new note -->
<%= form_for [@budget, @note], :url => budget_notes_path, :html => { :class => 'well form-inline' } do |f| -%>
  
  <%= f.text_field :title, :class => 'text_field', :placeholder => 'title' %>

  <%= f.text_field :contents, :class => 'text_field', :placeholder => 'note...' %>

  <button class="btn primary" type="submit">Add</button>

<% end -%>

<!-- notes list -->
<table class="table table-striped">
 <thead>
  <tr>
    <th>
      <%= t("activerecord.attributes.note.title", :default => t("activerecord.labels.title", :default => "Title")) %>
    </th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @notes.each do |note| -%>
   <tr>
    <td><strong><%= note.title %></strong></td>
    <td><%= note.contents %></td>
    <td><%= note.created_at %></td>
    <td>
      <%= link_to "Destroy", budget_note_path([@budget, note]), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>
