
<label class="label"><%= t("activerecord.attributes.note.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</label>
<p><%= @note.title %></p>

<label class="label"><%= t("activerecord.attributes.note.contents", :default => t("activerecord.labels.contents", :default => "Contents")) %>:</label>
<p><%= @note.contents %></p>

<label class="label"><%= t("activerecord.attributes.note.budget_id", :default => t("activerecord.labels.budget_id", :default => "Budget")) %>:</label>
<p><%= @note.budget_id %></p>
<div class="actions">
<%= link_to "Back", notes_path, :class => 'btn primary'  %>
<%= link_to "Edit", edit_note_path(@note), :class => 'btn primary' %>
<%= link_to "Delete", note_path(@note), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn primary' %>
</div>
