
<header class="span12">
    <h1 class="pull-left">Budgets</h1>

    <div class="pull-right">
      <%= link_to "New Budget", new_budget_path, :class => 'btn btn-primary' %>
    </div>
</header>

<section class="span12">

  <table class="table table-striped">
   <thead>
    <tr>
      <th>Title</th>
      <th>Rolls</th>
      <th>Budget</th>
      <th>Actual</th>
      <th>Excess of income</th>
      <th>Starts</th>
      <th>Ends</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @budgets.each do |budget| -%>
     <tr>
      <td><%= link_to budget.title, budget_path(budget) %></td>
      <td><%= budget.rolls %></td>
      <td><%= number_to_currency(budget.budget, :unit => "") %></td>
      <td><%= number_to_currency(budget.actual, :unit => "") %></td>
      <td><%= number_to_currency(budget.excess, :unit => "") %></td>
      <td><%= budget.starts %></td>
      <td><%= budget.ends %></td>
      <td class="controls">
        <%= link_to "Show", budget_path(budget) %>
        <%= link_to "Edit", edit_budget_path(budget) %>
        <%= link_to "Destroy", budget_path(budget), :method => :delete, :class => 'danger', :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
    </tr>
    <% end -%>
     </tbody>
  </table>

</section>