<section class="details span12">

    <table class="table table-highlight">

        <thead>

            <tr>
                <th>Title</th>
                <th>Rolls</th>
                <th>Budget</th>
                <th>Actual</th>
                <th>Excess</th>
                <th>Starts</th>
                <th>Ends</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                <td><%= @budget.title %></td>
                <td><%= @budget.rolls %></td>
                <td><%= number_to_currency(@budget.budget, :unit => "") %></td>
                <td><%= number_to_currency(@budget.actual, :unit => "") %></td>
                <td class="<%= "danger" unless @budget.excess >= 0 %>"><%= number_to_currency(@budget.excess, :unit => "") %></td>
                <td><%= @budget.starts %></td>
                <td><%= @budget.ends %></td>
                <td class="controls">
                    <%= link_to "Edit", edit_budget_path(@budget) %>
                    <%= link_to "Delete", budget_path(@budget), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'danger' %>
                </td>
            </tr>

        </tbody>

    </table>

</section>

<section class="incomes seesaw <%= (@category.nil? || @category == 'incomes') ? "seesaw-up span8" : "span4" %>">

    <div class="box">

        <%= render :partial => 'lines/list', :locals => { :category => 'incomes', :lines => @budget.incomes } %>

    </div>

</section>

<section class="expenses seesaw <%= @category == 'expenses' ? "seesaw-up span8" : "span4" %>">

    <div class="box">

        <%= render :partial => 'lines/list', :locals => { :category => 'expenses', :lines => @budget.expenses } %>

    </div>

</section>