<section class="details span12">

<table class="table table-highlight">

    <thead>

        <tr>
            <th>Title</th>
            <th>Budget</th>
            <th>Starts</th>
            <th>Ends</th>
        </tr>

    </thead>

    <tbody>

        <tr>
            <td><%= @budget.title %></td>
            <td></td>
            <td><%= @budget.starts %></td>
            <td><%= @budget.ends %></td>
            <td class="controls">
                <%= link_to "Edit", edit_budget_path(@budget) %>
                <%= link_to "Delete", budget_path(@budget), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'danger' %>
            </td>
        </tr>

    </tbody>

</table>

</section>

<section class="incomes seesaw seesaw-up span8">

    <div class="box">

        <%= render :partial => 'lines/list', :locals => { :category => 'incomes' } %>

    </div>

</section>

<section class="expenses seesaw span4">

    <div class="box">

        <%= render :partial => 'lines/list', :locals => { :category => 'expenses' } %>

    </div>

</section>