
<div class="clearfix">
   <%= f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => :label %>
  <div class="input">
    <%= f.text_field :email, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :password_digest, t("activerecord.attributes.user.password_digest", :default => "Password digest"), :class => :label %>
  <div class="input">
    <%= f.text_field :password_digest, :class => 'text_field' %>
  </div>
</div>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", users_path %>
</div>
