<section class="span12">

  <%= link_to "Upload Attachment", new_budget_attachment_path(@budget), :class => 'btn' %>

  <table class="table table-striped">
   <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Description</th>
      <th>Uploaded</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @attachments.each do |attachment| -%>
     <tr>
      <td><%= attachment.name %></td>
      <td><%= attachment.label %></td>
      <td><%= attachment.description %></td>
      <td><%= attachment.created_at %></td>
      <td class="controls">
        <%= link_to "Show", attachment.file.url %> 
        <%= link_to "Destroy", budget_attachment_path(@budget, attachment), :method => :delete, :class => 'danger', :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </td>
      </tr>
      <% end -%>
     </tbody>
  </table>

</section>
