<fieldset>

    <div class="control-group">
       <%= f.label :name, t("activerecord.attributes.transaction.name", :default => "Name"), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
       <%= f.label :subtotal, t("activerecord.attributes.transaction.subtotal", :default => "Subtotal"), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :subtotal, :class => 'text_field' %>
      </div>
    </div>

</fieldset>

<div class="form-actions">
  <button class="btn btn-primary" type="submit">Save</button> or
	<%= link_to "Cancel", budget_line_path(@budget, @line), :class => 'danger' %>
</div>
