<h1>Transactions</h1>
<table class="zebra-striped">
 <thead>
  <tr>
    <th>ID</th>
        <th>
      <%= t("activerecord.attributes.transaction.budget_id", :default => t("activerecord.labels.budget_id", :default => "Budget_id")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| -%>
   <tr>
    <td><%= transaction.id %></td>
        <td><%= link_to transaction.budget_id, transaction_path(transaction) %>
    </td>
        <td><%= transaction.created_at %></td>
    <td>
      <%= link_to "Show", transaction_path(transaction) %>
      <%= link_to "Edit", edit_transaction_path(transaction) %>
      <%= link_to "Destroy", transaction_path(transaction), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_transaction_path, :class => 'btn primary' %>
