
<label class="label"><%= t("activerecord.attributes.transaction.budget_id", :default => t("activerecord.labels.budget_id", :default => "Budget")) %>:</label>
<p><%= @transaction.budget_id %></p>

<label class="label"><%= t("activerecord.attributes.transaction.subline_id", :default => t("activerecord.labels.subline_id", :default => "Subline")) %>:</label>
<p><%= @transaction.subline_id %></p>

<label class="label"><%= t("activerecord.attributes.transaction.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @transaction.name %></p>

<label class="label"><%= t("activerecord.attributes.transaction.subtotal", :default => t("activerecord.labels.subtotal", :default => "Subtotal")) %>:</label>
<p><%= @transaction.subtotal %></p>

<label class="label"><%= t("activerecord.attributes.transaction.order", :default => t("activerecord.labels.order", :default => "Order")) %>:</label>
<p><%= @transaction.order %></p>

<label class="label"><%= t("activerecord.attributes.transaction.user_id", :default => t("activerecord.labels.user_id", :default => "User")) %>:</label>
<p><%= @transaction.user_id %></p>
<div class="actions">
<%= link_to "Back", transactions_path, :class => 'btn primary'  %>
<%= link_to "Edit", edit_transaction_path(@transaction), :class => 'btn primary' %>
<%= link_to "Delete", transaction_path(@transaction), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn primary' %>
</div>
