<fieldset>

  <div class="control-group">
     <%= f.label :line_number, t("activerecord.attributes.subline.line_number", :default => "Line Number"), :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :line_number, :class => 'number_field', :min => 1 %>
    </div>
  </div>

  <div class="control-group">
     <%= f.label :name, t("activerecord.attributes.subline.name", :default => "Name"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
     <%= f.label :subtotal, t("activerecord.attributes.subline.subtotal", :default => "Subtotal"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subtotal, :class => 'text_field' %>
    </div>
  </div>

</fieldset>

<div class="form-actions">
  <button class="btn btn-primary" type="submit">Save</button> or
	<%= link_to "Cancel", budget_line_path(@budget, @line), :class => 'danger' %>
</div>
