<div class="head">
    <h2>Sublines</h2>
</div>

<div class="controls buffer">
    <%= link_to "New Subline", new_line_subline_path(@line), :class => 'btn' %>
</div>

<% if sublines.empty? %>
<p>No sublines...</p>
<% else %>
<table class="table table-striped">

    <thead>
        <th>#</th>
        <th>name</th>
        <th>budget</th>
        <th>actual</th>
        <th></th>
    </thead>

    <tbody>

        <% sublines.each do |subline| %>
        <tr>
            <td><%= @line.line_number %>.<%= subline.line_number %></td>
            <td><%= subline.name %></td>
            <td><%= number_to_currency(subline.subtotal, :unit => "") %></td>
            <td><%= number_to_currency(subline.actual, :unit => "") %></td>
            <td class="controls">
                <%= link_to "edit", edit_subline_path(subline) %>
                <%= link_to "delete", line_subline_path(@line, subline), :method => :delete, :class => 'danger', :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" -%>
            </td>
        </tr>
        <% end %>

    </tbody>

</table>
<% end %>